
.para{
    font-family: sans-serif,serif,Arial, Helvetica, sans-serif;
    font-size:30px;
    color:black;
    background-color:rgb(154, 203, 208);
    margin:5px 5px;
    padding:0px 0px;
    border:5px 5px;
}
h1{
    font-style:italic;
    text-align: center;;
    color:black;
    font-size:50px;
    background-color: rgb(41, 115, 178);
    font-weight: 100;
}
h2{
    font-style:italic;
    text-align: center;
    font-size:50px;
    color:black;
    font-weight: 100;
    background-color:rgb(72, 166, 167);
}

li{
    color:black;
    padding:5px ;
    font-size:30px;
    margin:auto;
    background-color: rgb(154, 203, 208);}
img{
 margin-left:200px;
 padding:5px 5px;

}
a{
    font-size: 60px;
    color:black;
    background-color: rgb(242, 239, 231);

}
html{
    background-color: rgb(242, 239, 231);
}