
.para{
    font-family: sans-serif,serif,Arial, Helvetica, sans-serif;
    font-size:30px;
    color:black;
    background-color:white;
    margin:5px 5px;
    padding:0px 0px;
    border:5px 5px;
    box-sizing:border-box;
    display:block;
}
h1{
    font-style:italic;
    color:black;
    font-size:50px;
    background-color: grey;
    font-weight: 100;
}
h2{
    font-style:italic;
    font-size:50px;
    color:black;
    font-weight: 100;
    background-color:grey;
}

li{
    color:black;
    padding:5px ;
    font-size:30px;
    background-color: white;}
img{
 margin-left:200px;
 padding:5px 5px;

}
a{
    font-size: 60px;
    
}